<%- include('../partials/header.ejs') %>

<div class="py-3 text-center">
    <h2 class="text-new" >Profile</h2>
</div>

<form action="/user/<%= User._id %>" method="POST" enctype="multipart/form-data" style="overflow: hidden;">
    <div class="container-fluid px-3 pt-3 pic-box" style="margin-left: 11px;">   
        <div class="center row cen-box" style="width: 700px;">
            <div class="col-md-6 pic-si">
                <img class="mx-3" src="<%= User.profileImage %>"  height="200px" width="200px">
            </div>
            
            <div class="col-md-6 sen-sto" style="margin-left: 29px; margin-top: 13px;">
                <h2 class="pro-tt"> Username : 
                    <h2 class="pro-aa"><%= User.username %></h2>
                </h2>
                <div style="height: 8px;"></div>
                <h2 class="pro-tt"> E-mail : 
                    <h2 class="pro-aa" ><%= User.email %></h2>
                </h2>
                <div style="height: 10px;"></div>
                <input type="file" class="form-control mt-3" name="image" accept="image/*" style="width: 255px;">
            <button class="btn btn-pro" type="submit">Submit</button>
            </div>
        </div>
    </div>
</form>


<div class="container d-flex flex-row px-3 pt-3" style="background-color: rgba(0, 0, 0, 0.363);">
    &emsp; <h2 class="text-fa">Like List</h2>

</div>

<!-- <div class="container-fluid">
    <div class="row row-cols-3 align-items-stretch py-2 mx-3">
        <% Movies.likes.forEach(function(liked){ %>
            <div class="col" style="width: 100%">
                <div class="card card-cover text-white bg-dark rounded-5 shadow-lg">
                    <a href="/movies/<%= liked.movies.id %>">
                        <div class="row">
                            <div class="col-2 mx-3">
                                <img src="<%= liked.movies.logo %>" width="100%" style="max-height: 150px; margin-top: 50px;">
                            </div>
                            <div class="col">
                                <img src="<%= liked.movies.banner %>" width="100%" height="250px" style="object-fit: cover; border-radius: 5px;">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            &nbsp;
        <% }); %>
    </div>
</div> -->

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="position: relative;">
    <% Movies.likes.forEach(function(liked){ %>
      <div class="col" style="width: 200px; margin: 0px auto;">
        <div class="card card-cover h-100" style="background-color: transparent; border: none; margin-top: 10px;">
          <a href="/movies/<%= liked.movies.id %>">
            <div class="container" style="width: 220px;">
              <img src="<%= liked.movies.image %>" width="100%" height="250px" style="object-fit: cover;">
              <div class="container black">
                <p class="lh-1 pt-2 text-shadow-1">
                  <%= liked.movies.name %>
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    <% }); %>
</div>

<%- include('../partials/footer.ejs') %>