<%- include('../partials/header.ejs') %>

<div class="container-fluid px-3 pt-4">
    <h1 class="box lm-k" >
        <img src="https://media.discordapp.net/attachments/718002735475064874/845974386439356466/image0.jpg?width=101&height=669"
        height="35px" width="10px" style="margin-bottom: 7px;">
        Movie ticket
    </h1>
</div>
    
<!-- เรียงให้ตั๋วจองอยู่บนสุดแล้ว -->

<div class="container-fluid row mt-3" style="height: 205px;">
<% Reserve.forEach(function(thisReserve){ %>
    <div class="row col-4 mx-3 card card-cover rounded-5 shadow-lg h-100 bg-www" >
        <div class="col-6" style="margin-left: -25px;">
            <img src="<%= thisReserve.moviesImage %>" height="205px" width="140px" >
        </div>
        <div class="col-6" style="height: 200px; width: 200px;">
            <h2 class="text-haaa"><%= thisReserve.cinemaName %></h2>
            <p class="text-hooo">Movie : <%= thisReserve.moviesName %></p>
            <p class="text-hooo">Seat &nbsp; &nbsp;: <%= thisReserve.seats %> </p>
            <p class="text-hooo">Theater : &ensp;&nbsp;<%= thisReserve.theater %></p>
           
            <p class="text-hooo">Date-Showtime : </p>
            <p class="text-hooo"><%= thisReserve.date %>&emsp;<%= thisReserve.time %></p>
        </div>
    </div>   
<% }); %>
</div>



<%- include('../partials/footer.ejs') %>